    <div class="balloon">
        <div class="balloon__header">
            <div class=""><img src="media/balloon.png" alt=""> <span class="balloon__adress">Невский пр., 78, Санкт-Петербург, 191025</span></div>
            <span class="x">&#10006;</span>
        </div>
        <div class="balloon__reviews">
            <div class="balloon__review">
                <span class="balloon__text_bold">svetlana</span>
                <span class="balloon__text_thin">Шоколадница 13.12.2015</span>
                <p class="balloon__text">Очень хорошее место!</p>
            </div>
            <div class="balloon__review">
                <span class="balloon__text_bold">svetlana</span>
                <span class="balloon__text_thin">Шоколадница 13.12.2015</span>
                <p class="balloon__text">Очень хорошее место!</p>
            </div>
            <div class="balloon__review">
                <span class="balloon__text_bold">svetlana</span>
                <span class="balloon__text_thin">Шоколадница 13.12.2015</span>
                <p class="balloon__text">Очень хорошее место!</p>
            </div>
            <div class="balloon__review">
                <span class="balloon__text_bold">svetlana</span>
                <span class="balloon__text_thin">Шоколадница 13.12.2015</span>
                <p class="balloon__text">Очень хорошее место!</p>
            </div>
        </div>
        <div class="balloon__form">
            <h3>ВАШ ОТЗЫВ</h3>
            <form action="">
                <input placeholder="Ваше имя" class='form__name' type="text">
                <input placeholder="Укажите место" class='form__place' type="text">
                <textarea placeholder="Поделитесь впечатлениями" class='form__about' name="" id="" cols="30" rows="10"></textarea>
            </form>
            <button class='ok'>Добавить</button>

        </div>
    </div>