 <div class="cluster">

    <span  class="cluster__x" > &#10006;</span>
    <div class="cluster__main">
        <h3 class="cluster__name">Шоколадница</h3>
        <span class="cluster__adress">Невский пр., 78, Санкт-Петербург, 191025</span>
        <p class="cluster__about">Очень хорошее место!</p>
        <span class="cluster__time"> 13.12.2015</span>
    </div>
    <hr>
    <ul class="cluster__ul">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
    </ul>
</div>